@import "./normalize.css";

:root {
  --max-width: 1400px;
}

/* Typography*/
html {
  font-size: 62.5%;
}

body {
  font-family: Exo, Arial, Helvetica, sans-serif;
}

p {
  font-family: "Open Sans";
  font-size: 2rem;
  padding: 0 2rem;
}
.card__Material .credit{
  font-family: "Open Sans";
  font-size: 1rem;
  padding: 0 2rem;
}


h1 {
  font-family: Exo, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 4rem;
  margin: 1rem 0;
  padding: 2rem 0rem;
}

h2 {
  font-family: Exo, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 2.5rem;
  margin: 1rem 0;
}

a {
  text-decoration: none;
}

.container {
  max-width: var(--max-width);
  margin: 0 auto;
}

/*Blocks*/
.block {
  margin: 5rem 3rem 10rem 3rem;
  }

  @media screen and (min-width:768px){
    .block{
      margin:0 auto;
      padding-left: 2rem;
      padding-right: 2rem;
      margin-top:5rem;
      margin-bottom : 8rem;
      }
    }
  
  
  /*Grid*/
  
  .grid {
    display: grid;
  }
  
  @media screen and (min-width: 768px) {
    .grid--1x2 {
      grid-template-columns: 1fr 1fr;
    }
  
    .grid--2x5 {
      grid-template-rows: repeat(2, 1fr);
      grid-template-columns: repeat(5, 1fr);
    }
    
    .grid--1x4 {
      grid-template-columns: repeat(4, 1fr);
    }
  }
  
  @media screen and (min-width: 1024px) {
    .grid--1x3 {
      grid-template-columns: repeat(3, 1fr);
    }
  }


/*Hero*/

/*Hero*/
.hero .container {
max-width: 100vw;
margin: 0;
padding: 0;
}

.hero__image {
  background-image: url("../images/hero2x.webp");
  background-repeat: no-repeat;
  background-size: cover;
object-fit: cover ;
width: 100%;
height: 95vh;
  display: flex;

}

.hero__heading {
  text-align: center;
  margin: auto 0;
  background-color: rgba(255, 255, 255, 0.6);
  width: 100%;

}

.hero__heading h1 {
 /* text-shadow: 2px 2px 3px #939393;*/
  padding: 2rem;
  margin-top: 0;
}

.hero__heading h2 {
  padding-bottom: 1rem;
}



/*navbar*/
.list {
  list-style: none;
  color: #fff;
}

.list a {
  color: #fff;
}

.navbar {
  background:#232323;
  font-family: Exo, Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 40px;
}

.navbar--spacer {
  width: 50px;
}

.navbar .container {
  width: 100%;
}

.navbar li {
  padding: 1rem 3rem;
  margin: auto 0;
}

.navbar ul {
  margin: 0;
  padding: 0;
}

.nav__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  width: auto;
}

.nav__list li:hover {
  background: rgb(58, 58, 58);
}

.nav__toggler {
  opacity: 0.5;
  transition: box-shadow 0.2s;
}

.collapsible--expanded .nav__toggler {
  opacity: 1;
  box-shadow: 0 0 0 3px #666;
  border-radius: 5px;
}

.collapsible__content {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.3s;
}

.collapsible--expanded .collapsible__content {
  max-height: 100vh;
  opacity: 1;
}

@media screen and (min-width: 690px) {
  .navbar {
    flex-direction: row;
  }
  .navbar li {
    padding: 1rem 1rem;
  }
  .nav__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex: 1;
    width: auto;
  }
  .nav__toggler {
    display: none;
  }

  .collapsible__content {
    max-height: 100vh;
    opacity: 1;
  }
}

@media screen and (min-width: 1010px) {
  .navbar li {
    padding: 1rem 3rem;
    margin: auto 0;
  }
  .nav__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex: 1;
    width: auto;
  }

  .nav__toggler {
    display: none;
  }
}

/*Drop down menu*/

.dropdown .drop-btn {
  border: none;
  background-color: inherit;
  margin: 0;
  color: #fff;
  padding: 0;
  white-space: nowrap;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: black;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

@media screen and (min-width: 690px) {
  .dropdown {
    float: left;
    overflow: hidden;
  }

  .dropdown-content a {
    float: none;
    color: #fff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }

  .dropdown-content a:hover {
    background-color: rgb(58, 58, 58);
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }
}

/*Icons*/

.icon {
  width: 30px;
  height: 30px;
  margin: 10px;
}

#icon--navbar {
  align-self: flex-end;
  filter: invert(1);
}


/*Card*/
.card:hover {
  transform: scale(1.1);
  transition: all 0.5s;
  z-index: 1;
}


/*About*/


.img__about{
  display: flex;
justify-content: center;
width: 100%;
}
.about h1 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.about__profile {
  max-width: 400px;
  width: 100%;
  border-radius: 5px;
  justify-self: center;
  align-self: center;
  margin: 0 auto;
  padding-bottom: 2rem;
}

.about__text p{
  font-size: 1.9rem;
}

.about.grid--1x2 {
  display: block;
}


@media screen and (min-width: 1200px) {

  .about.grid {
    display: grid;
    grid-template-columns: 20fr 80fr;
  }
  .about.grid--1x2 {
    display: grid;
    grid-template-columns: 20fr 80fr;
  }


}

/*Portfolio*/


.portfolio .grid {
  gap: 1rem;
  row-gap: 3rem;
}

.portfolio__card {
  transform: scale(1);
  transition: all 0.5s;
  margin: 0 auto;
  margin-bottom: 4rem;
}

.portfolio__card:hover {
  transform: scale(1.1);
  transition: all 0.5s;
  z-index: 1;
}

.portfolio__title{
  font-size: 2rem;
}

.portfolio__title h3{
  margin-bottom: 0.5rem;
}

.portfolio__description{
  max-width: 500px;
}
.portfolio__description p{
font-size: 1.2rem;
padding-left: 0;
padding-top: 0rem;
margin-top: 0.5rem;
margin-bottom: 0.5rem;
color: #666;
}


.header {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.portfolio__img {
  width: 100%;
  max-width: 500px;

}


@media screen and (min-width:768px){
  .portfolio__img {
    width: 100%;
    max-height: 260px;
  }

  .portfolio__title{
    font-size: 1.3rem;
  }

  .portfolio__title h3{
    margin-bottom: 0.5rem;
  }

  .portfolio__card {

    margin-bottom: 0;
    margin-top: 0.5rem;
  }
}






/*CV*/
.CV__Card{
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid #949494;
  padding-bottom: 1rem;
  margin-top: 1rem;
}
.CV__Card:first-of-type{
  margin-top: 0;
}
.CV__LOGO{
  border-radius: 50%;
  width: 70px;
}

.CV__Description{
  margin-left: 2rem;
  color: #1e1e1e;
}

.CV__Description a{
  text-decoration: none;
  color: #1e1e1e;
}

.CV__Title{
  margin-bottom: 0.5rem;
  font-size: 1.6rem;
}
.CV__Description p{
  padding-left: 1rem;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;

}
.CV__Title{
  font-weight: 700;
}

.CV__Company, .CV__Date, .CV__Location{
  font-size: 1.3rem;
}
.CV__Company{
  font-weight: 600;
}
.CV__Date, .CV__Location{

 color: #6a6a6a;
}



/*Structure Bas Carbone*/
.Materials__Container{
  gap: 1rem;
}
.Material__Motivations p{
padding-left: 0;
}

.card__Material{
  margin: 0 auto;
 max-width:500px;
  margin-bottom: 2rem;
}

.material__image{
width :100%;
 margin: 0 auto;
}

.material__description p{
  font-size: 1.4rem;
}



@media screen and (min-width:768px){
  .material__description p{
    font-size: 1.4rem;
  }
  .card__Material:hover {
    transform: scale(1.05);
    transition: all 0.5s;
    z-index: 1;
  }
  .card__Material {
    transform: scale(1);
    transition: all 0.5s;
    z-index: 1;
  }
  .material__image{
    width: 100%;
    max-height: 360px;
  }
}


/*Digital*/

.digital__article{

  margin-bottom: 3rem;
  box-shadow: 0px 0px 20px darkgrey;
  overflow: hidden;
}


.digital__description h2{
  padding: 1rem 2rem;
  font-weight: 500;
  font-size: 3rem;

}
.digital__videos {
max-width: 100%;
max-height: 500px;
padding: 1rem;
align-self: center;
}

.digital__videos video {
margin :0 auto;
  }
  

  .media{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .media.grid{
max-width: 900px;
  }

  .media__img{
    padding-top: 2rem;
    padding-bottom: 2rem;
    align-self: center;
      max-width: 500px;
      margin: 0 auto;
      align-self: center;
      width: 100%;
  }  
  

  @media screen and (min-width: 768px) {
    .digital__article.grid--1x2 {
      display: grid;
      grid-template-columns: 1fr;
    }
    .media__img{
      padding-top: 2rem;
      padding-bottom: 2rem;
      align-self: center;
        max-width: 500px;
  
  }
}

@media screen and (min-width:900px){
  .media{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-grow: 1 1;

  }
  .digital__article.grid--1x2{
    grid-template-columns: 35fr 65fr;
  }
  
  .digital__article:nth-of-type(even) {
    grid-template-columns: 65fr 35fr;
  }

  .digital__article:nth-of-type(even) .media{
    order: -1;
  }

.media__img{
  max-width: 450px;
  object-fit: contain;
  
}  
.media__img.robot__img{
  max-width: 600px;
}  

.media__img.cnc{
  max-height: 338px;
  max-width: 100%;
}  

}



/*Footer*/
.footer{
  background-color:  #232323;
  min-height: 150px;
  align-content: center;
}

.footer.block{
  
  margin: 0;

}

.contact{
display: block;
margin :0 auto;
}

.contact__type{
  
  color: rgb(181, 181, 181);
  font-family: Exo, Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
  justify-content: center;
  margin: 0 auto;
  padding-top: 3rem;
  padding-bottom: 3rem;
  text-decoration: none;
  align-content: center;
  border-bottom: 1px solid rgb(181, 181, 181);
}

.contact__type:last-of-type{
  border-bottom: none

}
.contact__span{
  padding-left: 1rem;
}

.contact__content{
display: flex;
align-items: center;
justify-content: center;
}
.contact__type a{

  color: rgb(181, 181, 181);
  justify-content: center;
align-content: center;
}

@media screen and (min-width:768px){
  .contact{
    display :grid;
    }

    
  .contact__type{
    border:none ;
    padding-top: 6rem;
    padding-bottom: 3rem;
  }
}