<nav class="navbar">
  <div class="container">
    <ul class="list nav__list">
      <li><a href="#">A Propos</a></li>
      <li><a href="#">Portfolio</a></li>
      <li><a href="#">CV</a></li>
      <li class="dropdown">
        <button class="drop-btn">
          <a href="">Structures Bas Carbone</a>
        </button>
        <div class="dropdown-content">
          <a href="#">Bois</a>
          <a href="#">Pierre</a>
          <a href="#">Terre</a>
          <a href="#">Paille</a>
        </div>
      </li>
      <li class="dropdown">
        <button class="drop-btn"><a href="">Digital</a></button>
        <div class="dropdown-content">
          <a href="#">Grasshopper</a>
          <a href="#">C#</a>
          <a href="#">Python</a>
          <a href="#">Web</a>
        </div>
      </li>
      <li><a href="#">Toolbox</a></li>
      <li><a href="#">Blog</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </div>
</nav>
